body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #222;
    background-image: url('https://source.unsplash.com/1920x1080/?nature,water');
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
}

.card {
    background: #000000d0;
    color: white;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 1em;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
}

.description {
    text-transform: capitalize;
    margin-left: 8px;
}

button {
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    height: 3.3em;
    width: 3.3em;
    outline: none;
    background: #7c7c7c2b;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

button:hover {
    background: #7c7c7c6b;
}

input.search-bar {
    border: none;
    outline: none;
    padding: .7em;
    border-radius: 24px;
    background: #7c7c7c2b;
    color: white;
    font-family: inherit;
    font-size: 100%;
    width: calc(100% - 100px);
}

h1.temp {
    margin: 0;
}
.flex {
    display: flex;
    align-items: center;
}